# Laboratorio 2 - BI

| ID | Nombre            | Código        | Correo                        |
|----|-------------------|---------------|-------------------------------|
| 1  | Adrian Velasquez  | 202222737     | a.velasquezs@uniandes.edu.co  |
| 2  | Andres Molano     | 202215460     | a.molanob@uniandes.edu.co     |
| 3  | Sebastian Ramirez | 202123415     | s.ramirez112@uniandes.edu.co  |

In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [54]:
TRAIN = "data/Datos_SenecaféAlpes.csv"
df_original = pd.read_csv(TRAIN, sep=";", encoding="utf-8")
df_original.head()
df_original.shape

(14291, 19)

In [55]:
size_og, cols_og = df_original.shape
print(f"tamaño original: {size_og}\ncolumnas original: {cols_og}")

tamaño original: 14291
columnas original: 19

In [56]:
cat_cols = df_original.select_dtypes(include="object")
num_cols = df_original.select_dtypes(include="number")

In [57]:
cat_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14291 entries, 0 to 14290
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               14291 non-null  object
 1   RelacionAspecto  13825 non-null  object
 2   DefectoVisible   11356 non-null  object
 3   MétodoSecado     13704 non-null  object
dtypes: object(4)
memory usage: 446.7+ KB

In [58]:
num_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14291 entries, 0 to 14290
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Area                 14291 non-null  int64
 1   Perimetro            13054 non-null  float64
 2   LongitudEjeMayor     13890 non-null  float64
 3   LongitudEjeMenor     14291 non-null  float64
 4   Excentricidad        13687 non-null  float64
 5   AreaConvexa          12868 non-null  float64
 6   DiametroEquivalente  12368 non-null  float64
 7   Medida               14291 non-null  float64
 8   Solidez              11985 non-null  float64
 9   Redondez             12228 non-null  float64
 10  Compacidad           13641 non-null  float64
 11  FactorForma1         13172 non-null  float64
 12  FactorForma2         13185 non-null  float64
 13  FactorForma3         13813 non-null  float64
 14  FactorForma4         13132 non-null  float64
dtypes: float64(14), int64(1)
memory usage: 1.6 MB

In [59]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14291 entries, 0 to 14290
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   14291 non-null  object
 1   Area                 14291 non-null  int64
 2   Perimetro            13054 non-null  float64
 3   LongitudEjeMayor     13890 non-null  float64
 4   LongitudEjeMenor     14291 non-null  float64
 5   RelacionAspecto      13825 non-null  object
 6   Excentricidad        13687 non-null  float64
 7   AreaConvexa          12868 non-null  float64
 8   DiametroEquivalente  12368 non-null  float64
 9   Medida               14291 non-null  float64
 10  Solidez              11985 non-null  float64
 11  Redondez             12228 non-null  float64
 12  Compacidad           13641 non-null  float64
 13  FactorForma1         13172 non-null  float64
 14  FactorForma2         13185 non-null  float64
 15  FactorForma3         13813 non-null  float64
 16  FactorForma4         13132 non-null  float64
 17  DefectoVisible       11356 non-null  object
 18  MétodoSecado         13704 non-null  object
dtypes: float64(14), int64(1), object(4)
memory usage: 2.1+ MB

In [60]:
df_original.isnull().sum()

ID                        0
Area                      0
Perimetro              1237
LongitudEjeMayor        401
LongitudEjeMenor          0
RelacionAspecto         466
Excentricidad           604
AreaConvexa            1423
DiametroEquivalente    1923
Medida                    0
Solidez                2306
Redondez               2063
Compacidad              650
FactorForma1           1119
FactorForma2           1106
FactorForma3            478
FactorForma4           1159
DefectoVisible         2935
MétodoSecado            587
dtype: int64

In [61]:
dupes = df_original.duplicated().sum()
print(f"duplicados totales: {dupes}")

duplicados totales: 461

In [62]:
df_original.shape

(14291, 19)

## Validez

In [63]:
df_original["Area"].describe()

count     14291.000000
mean      53055.408999
std       29396.080372
min      -62716.000000
25%       36338.000000
50%       44660.000000
75%       61311.000000
max      254616.000000
Name: Area, dtype: float64

In [64]:
# Mostrar filas donde 'Area' es menor a 0
df_original[df_original["Area"] < 0]

,ID,Area,Perimetro,LongitudEjeMayor,LongitudEjeMenor,RelacionAspecto,Excentricidad,AreaConvexa,DiametroEquivalente,Medida,Solidez,Redondez,Compacidad,FactorForma1,FactorForma2,FactorForma3,FactorForma4,DefectoVisible,MétodoSecado
8414,G013208,-38311,725439.0,269.473124,181.814841,Alargado,0.738088,38713.0,220.859866,0.730276,0.989616,0.914811,0.819599,0.007034,NaN,0.671742,0.995609,normal,natural
11390,G003984,-62716,NaN,356.992788,224.568972,Alargado,0.777359,63313.0,282.581831,0.775037,0.990571,NaN,0.791562,NaN,0.001378,0.626570,0.996046,Normal,Lavado
12012,G012844,-36171,702747.0,258.201574,179.027257,Alargado,0.720589,36626.0,214.602767,0.709792,0.987577,0.920391,0.831144,0.007138,0.002101,0.690801,0.996306,Normal,Natural

In [65]:
# Eliminar filas donde 'Area' es menor a 0
df_original = df_original[df_original["Area"] >= 0]
df_original[df_original["Area"] < 0]

Empty DataFrame
Columns: [ID, Area, Perimetro, LongitudEjeMayor, LongitudEjeMenor, RelacionAspecto, Excentricidad, AreaConvexa, DiametroEquivalente, Medida, Solidez, Redondez, Compacidad, FactorForma1, FactorForma2, FactorForma3, FactorForma4, DefectoVisible, MétodoSecado]
Index: []

In [66]:
df_original["AreaConvexa"].describe()

count     12865.000000
mean      53577.113642
std       29569.042519
min      -78423.000000
25%       36721.000000
50%       45108.000000
75%       62108.000000
max      251082.000000
Name: AreaConvexa, dtype: float64

In [67]:
# Eliminar filas donde  es menor a 0
df_original = df_original[df_original["AreaConvexa"] >= 0]
df_original["AreaConvexa"].describe()

count     12859.000000
mean      53629.479664
std       29473.783616
min       20684.000000
25%       36735.500000
50%       45116.000000
75%       62117.000000
max      251082.000000
Name: AreaConvexa, dtype: float64

In [68]:
df_original["Compacidad"].describe()

count    12279.000000
mean         0.799420
std          0.066648
min         -0.843901
25%          0.762492
50%          0.801014
75%          0.834503
max          0.987303
Name: Compacidad, dtype: float64

In [69]:
# Eliminar filas donde es menor a 0
df_original = df_original[df_original["Compacidad"] >= 0]
df_original["Compacidad"].describe()

count    12276.000000
mean         0.799807
std          0.061866
min          0.645368
25%          0.762540
50%          0.801025
75%          0.834527
max          0.987303
Name: Compacidad, dtype: float64

In [70]:
df_original["DiametroEquivalente"].describe()

count    10625.000000
mean       252.284386
std         59.745985
min       -448.402605
25%        215.201166
50%        238.176226
75%        278.673105
max        562.408446
Name: DiametroEquivalente, dtype: float64

In [71]:
df_original = df_original[df_original["DiametroEquivalente"] >= 0]
df_original["DiametroEquivalente"].describe()

count    10618.000000
mean       252.629197
std         58.198634
min        161.243764
25%        215.249232
50%        238.200281
75%        278.718791
max        562.408446
Name: DiametroEquivalente, dtype: float64

In [72]:
df_original["Excentricidad"].describe()

count    10160.000000
mean         0.749376
std          0.101819
min         -0.835004
25%          0.714031
50%          0.764198
75%          0.810564
max          0.908167
Name: Excentricidad, dtype: float64

In [73]:
df_original = df_original[df_original["Excentricidad"] >= 0]
df_original["Excentricidad"].describe()

count    10152.000000
mean         0.750572
std          0.092501
min          0.218951
25%          0.714163
50%          0.764318
75%          0.810587
max          0.908167
Name: Excentricidad, dtype: float64

In [74]:
df_original["FactorForma1"].describe()

count    9353.000000
mean        0.006564
std         0.001164
min        -0.007982
25%         0.005921
50%         0.006643
75%         0.007268
max         0.010451
Name: FactorForma1, dtype: float64

In [75]:
df_original = df_original[df_original["FactorForma1"] >= 0]
df_original["FactorForma1"].describe()

count    9347.000000
mean        0.006573
std         0.001114
min         0.002778
25%         0.005924
50%         0.006644
75%         0.007268
max         0.010451
Name: FactorForma1, dtype: float64

In [76]:
df_original = df_original[df_original["FactorForma2"] >= 0]
df_original["FactorForma2"].describe()

count    8626.000000
mean        0.001718
std         0.000596
min         0.000564
25%         0.001152
50%         0.001700
75%         0.002179
max         0.003665
Name: FactorForma2, dtype: float64

In [77]:
df_original["FactorForma3"].describe()

count    8353.000000
mean        0.643549
std         0.100035
min        -0.518002
25%         0.581564
50%         0.642424
75%         0.697091
max         0.974767
Name: FactorForma3, dtype: float64

In [78]:
df_original = df_original[df_original["FactorForma4"] >= 0]
df_original["FactorForma4"].describe()

count    7934.000000
mean        0.995080
std         0.004386
min         0.947687
25%         0.993667
50%         0.996397
75%         0.997911
max         0.999709
Name: FactorForma4, dtype: float64

In [79]:
df_original["LongitudEjeMayor"].describe()

count    7705.000000
mean      319.205420
std        84.729456
min      -243.375248
25%       252.514852
50%       296.398632
75%       376.497678
max       722.494068
Name: LongitudEjeMayor, dtype: float64

In [80]:
df_original["LongitudEjeMenor"].describe()

count    7934.000000
mean      201.663915
std        43.961566
min      -189.842876
25%       176.103820
50%       192.478281
75%       216.170320
max       446.043618
Name: LongitudEjeMenor, dtype: float64

In [81]:
df_original = df_original[df_original["LongitudEjeMenor"] > 0]
df_original["LongitudEjeMenor"].describe()

count    7933.000000
mean      201.713267
std        43.743989
min       122.512653
25%       176.109083
50%       192.479822
75%       216.170438
max       446.043618
Name: LongitudEjeMenor, dtype: float64

In [82]:
df_original["Medida"].describe()

count    7933.000000
mean        0.750016
std         0.051552
min        -0.798706
25%         0.719393
50%         0.760142
75%         0.786951
max         0.866195
Name: Medida, dtype: float64

In [83]:
df_original = df_original[df_original["Medida"] >= 0]
df_original["Medida"].describe()

count    7932.000000
mean        0.750211
std         0.048533
min         0.555315
25%         0.719406
50%         0.760148
75%         0.786952
max         0.866195
Name: Medida, dtype: float64

In [84]:
df_original["Perimetro"].describe()

count    7.265000e+03
mean     7.696650e+05
std      3.227511e+05
min     -1.012143e+06
25%      6.753850e+05
50%      7.690730e+05
75%      9.536640e+05
max      1.884557e+06
Name: Perimetro, dtype: float64

In [85]:
df_original = df_original[df_original["Perimetro"] > 0]
df_original["Perimetro"].describe()

count    7.263000e+03
mean     7.701424e+05
std      3.215096e+05
min      5.536000e+02
25%      6.754885e+05
50%      7.691040e+05
75%      9.536640e+05
max      1.884557e+06
Name: Perimetro, dtype: float64

In [86]:
df_original["Redondez"].describe()

count    6193.000000
mean        0.873248
std         0.063498
min        -0.896861
25%         0.833070
50%         0.883975
75%         0.917076
max         0.986103
Name: Redondez, dtype: float64

In [87]:
df_original = df_original[df_original["Redondez"] >= 0]
df_original["Redondez"].describe()

count    6192.000000
mean        0.873534
std         0.059384
min         0.489618
25%         0.833102
50%         0.883975
75%         0.917078
max         0.986103
Name: Redondez, dtype: float64

In [88]:
df_original["RelacionAspecto"].describe()

count         6005
unique           4
top       Alargado
freq          5232
Name: RelacionAspecto, dtype: object

In [89]:
print(df_original["RelacionAspecto"].describe())
df_original["RelacionAspecto"].unique()

count         6005
unique           4
top       Alargado
freq          5232
Name: RelacionAspecto, dtype: object

array(['Alargado', 'Redondeado', 'alargado', nan, 'redondeado'],
      dtype=object)

In [90]:
df_original["Solidez"].describe()

count    5192.000000
mean        0.987123
std         0.004624
min         0.943559
25%         0.985719
50%         0.988263
75%         0.989999
max         0.994082
Name: Solidez, dtype: float64

In [91]:
df_original = df_original[df_original["Solidez"] >= 0]
df_original["Solidez"].describe()

count    5192.000000
mean        0.987123
std         0.004624
min         0.943559
25%         0.985719
50%         0.988263
75%         0.989999
max         0.994082
Name: Solidez, dtype: float64

In [96]:
print("DefectoVisible unique categories and description:")
print(df_original["DefectoVisible"].unique())
print(df_original["DefectoVisible"].describe())

print("\nMétodoSecado unique categories and description:")
print(df_original["MétodoSecado"].unique())
print(df_original["MétodoSecado"].describe())

DefectoVisible unique categories and description:
['Normal' nan 'normal']
count       4116
unique         2
top       Normal
freq        3261
Name: DefectoVisible, dtype: object

MétodoSecado unique categories and description:
['Natural' 'Lavado' 'lavado' nan 'natural' 'Honey' 'honey']
count       4981
unique         6
top       Lavado
freq        2255
Name: MétodoSecado, dtype: object

In [92]:
df_original.shape

(5192, 19)

In [93]:
df_original.describe()

,Area,Perimetro,LongitudEjeMayor,LongitudEjeMenor,Excentricidad,AreaConvexa,DiametroEquivalente,Medida,Solidez,Redondez,Compacidad,FactorForma1,FactorForma2,FactorForma3,FactorForma4
count,5192.000000,5.192000e+03,5036.000000,5192.000000,5192.000000,5192.000000,5192.000000,5192.000000,5192.000000,5192.000000,5192.000000,5192.000000,5192.000000,5023.000000,5192.000000
mean,52969.932781,7.706434e+05,319.528371,202.182764,0.750826,53691.784861,252.938039,0.750749,0.987123,0.872957,0.799986,0.006564,0.001717,0.643620,0.995083
std,29112.484651,3.244680e+05,85.760692,44.606278,0.091809,29572.285652,58.876390,0.048249,0.004624,0.059935,0.061507,0.001124,0.000596,0.099930,0.004339
min,20420.000000,5.536000e+02,-243.375248,122.512653,0.218951,20684.000000,161.243764,0.555315,0.943559,0.489618,0.645368,0.002878,0.000568,-0.518002,0.951239
25%,36230.000000,6.758910e+05,252.947053,176.272855,0.716145,36621.000000,214.777719,0.720507,0.985719,0.832406,0.763316,0.005894,0.001157,0.583124,0.993649
50%,44580.500000,7.696815e+05,296.078404,192.287286,0.763916,45113.000000,238.247047,0.760933,0.988263,0.883361,0.801575,0.006647,0.001696,0.642597,0.996387
75%,61366.000000,9.574998e+05,376.480183,217.185099,0.809752,62385.000000,279.523901,0.787326,0.989999,0.916820,0.834237,0.007259,0.002182,0.696095,0.997894
max,248424.000000,1.884557e+06,721.216098,446.043618,0.908167,251082.000000,562.408446,0.866195,0.994082,0.986103,0.987303,0.010451,0.003564,0.974767,0.999709

## Nulos

In [94]:
print(df_original.isnull().sum())

ID                        0
Area                      0
Perimetro                 0
LongitudEjeMayor        156
LongitudEjeMenor          0
RelacionAspecto         162
Excentricidad             0
AreaConvexa               0
DiametroEquivalente       0
Medida                    0
Solidez                   0
Redondez                  0
Compacidad                0
FactorForma1              0
FactorForma2              0
FactorForma3            169
FactorForma4              0
DefectoVisible         1076
MétodoSecado            211
dtype: int64

Como son pocos valores nulos en LogitudEjeMayor, en RelacionAspecto y en metodoSecado, vamos a eliminar las filas con estos valores nulos, para el caso de DefectoVisible, este tiene demasiados valores nulos, ademas de que nos dimos cuenta que solamente tiene valores Normal, por lo que esta variable categorica no representa una informacion relevante, debido a que todos los valores son iguales, entonces la vamos a eliminar

In [98]:
df_clean = df_original.copy()

# Eliminar filas con valores nulos en 'LongitudEjeMayor', 'RelacionAspecto', 'MétodoSecado', 'FactorForma3'
df_clean = df_clean.dropna(subset=['LongitudEjeMayor', 'RelacionAspecto', 'MétodoSecado', 'FactorForma3'])

# Eliminar la columna 'DefectoVisible'
df_clean = df_clean.drop('DefectoVisible', axis=1)

# Mostrar información del DataFrame resultante
df_clean.info()

# Mostrar el número de filas y columnas
print(f"Número de filas: {df_clean.shape[0]}")
print(f"Número de columnas: {df_clean.shape[1]}")

<class 'pandas.core.frame.DataFrame'>
Index: 4526 entries, 2 to 14287
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4526 non-null   object
 1   Area                 4526 non-null   int64
 2   Perimetro            4526 non-null   float64
 3   LongitudEjeMayor     4526 non-null   float64
 4   LongitudEjeMenor     4526 non-null   float64
 5   RelacionAspecto      4526 non-null   object
 6   Excentricidad        4526 non-null   float64
 7   AreaConvexa          4526 non-null   float64
 8   DiametroEquivalente  4526 non-null   float64
 9   Medida               4526 non-null   float64
 10  Solidez              4526 non-null   float64
 11  Redondez             4526 non-null   float64
 12  Compacidad           4526 non-null   float64
 13  FactorForma1         4526 non-null   float64
 14  FactorForma2         4526 non-null   float64
 15  FactorForma3         4526 non-null   float64
 16  FactorForma4         4526 non-null   float64
 17  MétodoSecado         4526 non-null   object
dtypes: float64(14), int64(1), object(3)
memory usage: 671.8+ KB
Número de filas: 4526
Número de columnas: 18

## Unicidad

In [99]:
print(df_clean.duplicated().sum())

137

In [100]:
# Mostrar filas duplicadas
df_clean[df_clean.duplicated()]

,ID,Area,Perimetro,LongitudEjeMayor,LongitudEjeMenor,RelacionAspecto,Excentricidad,AreaConvexa,DiametroEquivalente,Medida,Solidez,Redondez,Compacidad,FactorForma1,FactorForma2,FactorForma3,FactorForma4,MétodoSecado
507,G002702,69824,1055572.0,389.048708,229.112799,Alargado,0.808202,70943.0,298.165521,0.688396,0.984227,0.787479,0.766396,0.005572,0.001186,0.587363,0.997382,Natural
544,G003108,78848,1088405.0,388.645864,259.122237,Alargado,0.745298,79719.0,316.847584,0.734577,0.989074,0.836411,0.815260,0.004929,0.001343,0.664650,0.996878,Natural
569,G013443,40125,738378.0,275.637443,185.812657,Alargado,0.738622,40508.0,226.028177,0.774614,0.990545,0.924842,0.820020,0.006869,0.001916,0.672433,0.997497,Lavado
679,G003586,169165,1581568.0,591.855813,366.376666,Alargado,0.785367,171119.0,464.098661,0.683992,0.988581,0.849855,0.784141,0.003499,0.000816,0.614878,0.993292,Natural
1200,G002129,55607,898497.0,311.419759,228.719865,Alargado,0.678671,56424.0,266.084632,0.756506,0.985520,0.865578,0.854424,0.005600,0.001841,0.730041,0.994007,Lavado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13700,G013246,38585,735508.0,271.447538,181.487496,Alargado,0.743630,38970.0,221.648253,0.782467,0.990121,0.896300,0.816542,0.007035,0.001929,0.666740,0.997232,Lavado
13705,G012185,33272,671659.0,247.372938,171.976902,Alargado,0.718804,33626.0,205.823289,0.700478,0.989472,0.926811,0.832036,0.007435,0.002198,0.692285,0.995788,Natural
13859,G005387,89673,1175934.0,457.778517,252.674294,Alargado,0.833872,91361.0,337.898224,0.774559,0.981524,0.814903,0.738126,0.005105,0.000935,0.544830,0.987087,Lavado
13908,G006428,53473,899337.0,349.478217,196.154529,Alargado,0.827627,54218.0,260.928991,0.824590,0.986259,0.830806,0.746624,0.006536,0.001253,0.557448,0.993176,Lavado
14048,G001084,39535,723825.0,254.501909,198.291479,Redondeado,0.626856,39943.0,224.360258,0.747947,0.989785,0.948253,0.881566,0.006437,0.002398,0.777159,0.997463,Natural

In [101]:
# Eliminar filas duplicadas
df_clean = df_clean.drop_duplicates()
print(df_clean.duplicated().sum())

0

In [102]:
df_clean.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,4389,4316,G004296,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,4389.0,NaN,NaN,NaN,52696.573479,28636.388396,20420.0,36296.0,44551.0,60946.0,248424.0
Perimetro,4389.0,NaN,NaN,NaN,768498.538984,323411.847929,553.6,677527.0,768988.0,955639.0,1884557.0
LongitudEjeMayor,4389.0,NaN,NaN,NaN,318.858025,84.7095,-243.375248,252.93034,295.95799,375.980183,720.695521
LongitudEjeMenor,4389.0,NaN,NaN,NaN,201.964286,44.185564,122.512653,176.398977,192.313437,216.789472,446.043618
RelacionAspecto,4389,4,Alargado,3822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Excentricidad,4389.0,NaN,NaN,NaN,0.749853,0.09215,0.218951,0.714153,0.763766,0.808202,0.908167
AreaConvexa,4389.0,NaN,NaN,NaN,53411.690818,29081.568742,20684.0,36713.0,45054.0,61940.0,251082.0
DiametroEquivalente,4389.0,NaN,NaN,NaN,252.423863,58.123353,161.243764,214.97326,238.168207,278.565715,562.408446
Medida,4389.0,NaN,NaN,NaN,0.750961,0.048035,0.555315,0.72065,0.761155,0.787287,0.866195
Solidez,4389.0,NaN,NaN,NaN,0.987153,0.004645,0.943559,0.985758,0.988308,0.99002,0.994082
Redondez,4389.0,NaN,NaN,NaN,0.873645,0.059754,0.489618,0.833022,0.884241,0.917256,0.986103
Compacidad,4389.0,NaN,NaN,NaN,0.800675,0.061477,0.645368,0.764788,0.801865,0.83473,0.987303
FactorForma1,4389.0,NaN,NaN,NaN,0.006567,0.001117,0.002878,0.005903,0.006648,0.007245,0.010451
FactorForma2,4389.0,NaN,NaN,NaN,0.001723,0.000594,0.000572,0.001164,0.001702,0.002186,0.003545
FactorForma3,4389.0,NaN,NaN,NaN,0.644624,0.100231,-0.518002,0.584901,0.642988,0.696774,0.974767
FactorForma4,4389.0,NaN,NaN,NaN,0.995133,0.00435,0.951239,0.993788,0.996427,0.997899,0.999709
MétodoSecado,4389,6,Lavado,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
print(df_clean["RelacionAspecto"].unique())
print(df_clean["MétodoSecado"].unique())

# Convertir a minúsculas la columna 'RelacionAspecto'
df_clean['RelacionAspecto'] = df_clean['RelacionAspecto'].str.lower()

# Convertir a minúsculas la columna 'MétodoSecado'
df_clean['MétodoSecado'] = df_clean['MétodoSecado'].str.lower()

print(df_clean["RelacionAspecto"].unique())
print(df_clean["MétodoSecado"].unique())

df_clean.info()

['Alargado' 'Redondeado' 'alargado' 'redondeado']
['Natural' 'Lavado' 'lavado' 'natural' 'Honey' 'honey']
['alargado' 'redondeado']
['natural' 'lavado' 'honey']
<class 'pandas.core.frame.DataFrame'>
Index: 4389 entries, 2 to 14287
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4389 non-null   object
 1   Area                 4389 non-null   int64
 2   Perimetro            4389 non-null   float64
 3   LongitudEjeMayor     4389 non-null   float64
 4   LongitudEjeMenor     4389 non-null   float64
 5   RelacionAspecto      4389 non-null   object
 6   Excentricidad        4389 non-null   float64
 7   AreaConvexa          4389 non-null   float64
 8   DiametroEquivalente  4389 non-null   float64
 9   Medida               4389 non-null   float64
 10  Solidez              4389 non-null   float64
 11  Redondez             4389 non-null   float64
 12  Compacidad           4389 non-null   float64
 13  FactorForma1         4389 non-null   float64
 14  FactorForma2         4389 non-null   float64
 15  FactorForma3         4389 non-null   float64
 16  FactorForma4         4389 non-null   float64
 17  MétodoSecado         4389 non-null   object
dtypes: float64(14), int64(1), object(3)
memory usage: 651.5+ KB

## Estandarizacion

Para el dataset, Estandarización (Z-score) es lo más adecuado, porque equilibra las variables grandes (área, perímetro) con las ya normalizadas (solidez, compacidad) y es más robusto para algoritmos de clustering.

In [ ]:
from sklearn.preprocessing import StandardScaler

# Seleccionar las columnas numéricas
numerical_cols = df_clean.select_dtypes(include=np.number).columns

# Crear el StandardScaler
scaler = StandardScaler()

# Ajustar el StandardScaler a los datos numéricos y transformarlos
df_clean[numerical_cols] = scaler.fit_transform(df_clean[numerical_cols])

# Mostrar el DataFrame con las columnas numéricas estandarizadas
df_clean.head()

         ID      Area  Perimetro  LongitudEjeMayor  LongitudEjeMenor  \
2   G007054  0.253847   0.698160          0.829169         -0.090470
4   G013353 -0.467032  -0.095015         -0.665146         -0.244167
10  G001140 -0.445239  -0.115750         -0.872362          0.135803
11  G007741 -0.464657  -2.374184         -0.625055         -0.290165
18  G009218 -0.207437   0.190041         -0.129359         -0.166551

   RelacionAspecto  Excentricidad  AreaConvexa  DiametroEquivalente    Medida  \
2         alargado       1.205057     0.257867             0.411083 -1.860957
4         alargado      -0.700324    -0.469550            -0.493199  0.508676
10      redondeado      -2.402495    -0.447953            -0.462772  0.438711
11        alargado      -0.509657    -0.466867            -0.489872 -0.534462
18        alargado       0.272224    -0.210456            -0.145058 -0.641095

     Solidez  Redondez  Compacidad  FactorForma1  FactorForma2  FactorForma3  \
2  -0.574283 -1.864296   -1.472524     -0.069915     -1.187285     -1.399901
4   0.415848  0.572772    0.840744      0.097680      0.758844      0.817078
10  0.431071  1.098338    1.951634     -0.388927      1.674865      2.025145
11  0.366401  0.239659    0.675505      0.164526      0.626480      0.645334
18  0.330445 -0.345527   -0.133961      0.016503     -0.204059     -0.166247

    FactorForma4 MétodoSecado
2      -0.901862      natural
4       0.574144       lavado
10      0.751483       lavado
11      0.473784      natural
18     -0.364457      natural

## One hot encoding para variables categoricas

In [106]:
# Aplicar one-hot encoding a las columnas categóricas seleccionadas
df_clean = pd.get_dummies(df_clean, columns=['MétodoSecado','RelacionAspecto'])

# Mostrar el DataFrame resultante con las columnas codificadas
df_clean.head()

,ID,Area,Perimetro,LongitudEjeMayor,LongitudEjeMenor,Excentricidad,AreaConvexa,DiametroEquivalente,Medida,Solidez,...,Compacidad,FactorForma1,FactorForma2,FactorForma3,FactorForma4,MétodoSecado_honey,MétodoSecado_lavado,MétodoSecado_natural,RelacionAspecto_alargado,RelacionAspecto_redondeado
2,G007054,0.253847,0.698160,0.829169,-0.090470,1.205057,0.257867,0.411083,-1.860957,-0.574283,...,-1.472524,-0.069915,-1.187285,-1.399901,-0.901862,False,False,True,True,False
4,G013353,-0.467032,-0.095015,-0.665146,-0.244167,-0.700324,-0.469550,-0.493199,0.508676,0.415848,...,0.840744,0.097680,0.758844,0.817078,0.574144,False,True,False,True,False
10,G001140,-0.445239,-0.115750,-0.872362,0.135803,-2.402495,-0.447953,-0.462772,0.438711,0.431071,...,1.951634,-0.388927,1.674865,2.025145,0.751483,False,True,False,False,True
11,G007741,-0.464657,-2.374184,-0.625055,-0.290165,-0.509657,-0.466867,-0.489872,-0.534462,0.366401,...,0.675505,0.164526,0.626480,0.645334,0.473784,False,False,True,True,False
18,G009218,-0.207437,0.190041,-0.129359,-0.166551,0.272224,-0.210456,-0.145058,-0.641095,0.330445,...,-0.133961,0.016503,-0.204059,-0.166247,-0.364457,False,False,True,True,False