# Laboratorio 2 - BI

| ID | Nombre            | Código        | Correo                        |
|----|-------------------|---------------|-------------------------------|
| 1  | Adrian Velasquez  | 202222737     | a.velasquezs@uniandes.edu.co  |
| 2  | Andres Molano     | 202215460     | a.molanob@uniandes.edu.co     |
| 3  | Sebastian Ramirez | 202123415     | s.ramirez112@uniandes.edu.co  |

In [20]:
print("Hello World!")

Hello World!

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [22]:
TRAIN = "data/train.csv"
df_original = pd.read_csv(TRAIN)
df_original.head()

,Area,Perimetro,LongitudEjeMayor,LongitudEjeMenor,RelacionAspecto,Excentricidad,AreaConvexa,DiametroEquivalente,Medida,Solidez,Redondez,Compacidad,FactorForma1,FactorForma2,FactorForma3,FactorForma4
0,44974.0,791935.0,297.061200,193.430071,1.535755,0.758953,45499,239.296208,0.779162,0.988461,0.901140,0.805545,0.006605,0.001716,0.648903,0.996556
1,52199.0,919891.0,383.712441,NaN,2.201827,0.890916,52840,257.801922,0.696209,0.987869,0.775174,0.671862,0.007351,0.000924,0.451399,0.993902
2,NaN,1103196.0,438.347845,238.552533,1.837532,0.838950,82342,322.732223,0.812709,0.993466,0.844654,0.736247,0.005359,0.000971,0.542059,0.996051
3,66926.0,1043841.0,429.151047,199.455692,2.151611,0.885432,67662,291.912367,0.812524,0.989122,NaN,0.680209,0.006412,0.000847,0.462684,0.995516
4,38439.0,728262.0,266.152672,184.630304,1.441544,0.720263,38863,221.228513,0.807881,0.989090,NaN,0.831209,0.006924,0.002039,0.690909,0.995975

In [23]:
size_og, cols_og = df_original.shape
print(f"tamaño original: {size_og}\ncolumnas original: {cols_og}")

tamaño original: 14291
columnas original: 16

In [24]:
cat_cols = df_original.select_dtypes(include="object")
num_cols = df_original.select_dtypes(include="number")

In [29]:
cat_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14291 entries, 0 to 14290
Empty DataFrame

In [25]:
num_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14291 entries, 0 to 14290
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Area                 13381 non-null  float64
 1   Perimetro            14291 non-null  float64
 2   LongitudEjeMayor     13361 non-null  float64
 3   LongitudEjeMenor     13365 non-null  float64
 4   RelacionAspecto      13608 non-null  float64
 5   Excentricidad        14291 non-null  float64
 6   AreaConvexa          14291 non-null  int64
 7   DiametroEquivalente  14291 non-null  float64
 8   Medida               14291 non-null  float64
 9   Solidez              12991 non-null  float64
 10  Redondez             11729 non-null  float64
 11  Compacidad           12845 non-null  float64
 12  FactorForma1         14291 non-null  float64
 13  FactorForma2         14291 non-null  float64
 14  FactorForma3         14291 non-null  float64
 15  FactorForma4         14291 non-null  float64
dtypes: float64(15), int64(1)
memory usage: 1.7 MB

In [30]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14291 entries, 0 to 14290
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Area                 13381 non-null  float64
 1   Perimetro            14291 non-null  float64
 2   LongitudEjeMayor     13361 non-null  float64
 3   LongitudEjeMenor     13365 non-null  float64
 4   RelacionAspecto      13608 non-null  float64
 5   Excentricidad        14291 non-null  float64
 6   AreaConvexa          14291 non-null  int64
 7   DiametroEquivalente  14291 non-null  float64
 8   Medida               14291 non-null  float64
 9   Solidez              12991 non-null  float64
 10  Redondez             11729 non-null  float64
 11  Compacidad           12845 non-null  float64
 12  FactorForma1         14291 non-null  float64
 13  FactorForma2         14291 non-null  float64
 14  FactorForma3         14291 non-null  float64
 15  FactorForma4         14291 non-null  float64
dtypes: float64(15), int64(1)
memory usage: 1.7 MB

In [33]:
df_original.isnull().sum()

Area                    910
Perimetro                 0
LongitudEjeMayor        930
LongitudEjeMenor        926
RelacionAspecto         683
Excentricidad             0
AreaConvexa               0
DiametroEquivalente       0
Medida                    0
Solidez                1300
Redondez               2562
Compacidad             1446
FactorForma1              0
FactorForma2              0
FactorForma3              0
FactorForma4              0
dtype: int64

In [28]:
dupes = df_original.duplicated().sum()
print(f"duplicados totales: {dupes}")

duplicados totales: 692